n8n_ai_agent.json
{
  "name": "AI (structured handoff)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message"
            },
            {
              "name": "dialog_id"
            },
            {
              "name": "chat_id"
            },
            {
              "name": "ai_enabled",
              "type": "boolean"
            },
            {
              "name": "file_url"
            },
            {
              "name": "file_type"
            }
          ]
        }
      },
      "id": "bf14073e-7c25-4bc8-8322-b36de6d048e2",
      "typeVersion": 1.1,
      "name": "AI",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -448,
        96
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Приведение к 1 формату').item.json.prompt }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "={{ $json.ai_prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1200,
        0
      ],
      "id": "8e741028-f5a9-45a4-a139-0fe8806c84d8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"answer\": \"Текст ответа клиенту — обычный человеческий текст, без служебных слов и маркеров\",\n  \"handoff\": false,\n  \"reason\": \"почему нужен оператор (пустая строка, если handoff=false)\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1616,
        224
      ],
      "id": "3f9a2b1c-7d4e-4a5b-9c8d-1e2f3a4b5c6d",
      "name": "Structured Output"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "={{ $json.ai_model }}",
          "mode": "id"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": "={{ $json.ai_temperature }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1072,
        224
      ],
      "id": "6bd49100-1841-470c-89a9-6b84f936e07f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0tL4zzqsCd2g3p0a",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1200,
        224
      ],
      "id": "be3c0648-0707-4100-8fe6-b3786cea5f19",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "0tL4zzqsCd2g3p0a",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('AI').item.json.dialog_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1328,
        224
      ],
      "id": "bc0336ef-3fd2-4c6a-b12e-b79f60bdfb6f",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "hit3nIMoTAWeW4Gi",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search VPN support knowledge base. Use for setup instructions, troubleshooting, payment, FAQ. Input: user's question in Russian or English.",
        "qdrantCollection": {
          "__rl": true,
          "value": "kb",
          "mode": "list",
          "cachedResultName": "kb"
        },
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1456,
        224
      ],
      "id": "f0b24847-241c-4a8d-ba15-244a46d773f9",
      "name": "Qdrant Vector Store2",
      "credentials": {
        "qdrantApi": {
          "id": "Q4QxrSlzWGuaPIrG",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1536,
        432
      ],
      "id": "ca7a5754-cf6f-47d3-9fb0-726ff6868fa1",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "0tL4zzqsCd2g3p0a",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "ai_settings",
        "key": "vpn_bot:ai_settings",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        816,
        80
      ],
      "id": "a331263d-f671-4f72-9e07-b630e5c7b05a",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "hit3nIMoTAWeW4Gi",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.ai_settings;\n\nconst settings = raw ? JSON.parse(raw) : {};\n\nreturn [{\n  json: {\n    ...$json,\n    ai_enabled: settings.enabled ?? false,\n    ai_model: settings.model ?? 'gpt-4o-mini',\n    ai_temperature: settings.temperature ?? 0.7,\n    ai_prompt: settings.prompt ?? ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        80
      ],
      "id": "50a90a4e-c830-49b6-bf05-8b7a2c3ae17a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ae43ad55-7e39-4424-a0f7-949a9535abc5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f49b5c16-85ab-4179-b129-d4ca33aabcab",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e926d6f8-b10b-4675-94fe-c3a2f2be67d7",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        96
      ],
      "id": "d64e739a-f7ee-4336-a9cb-2cbacc44b6a9",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $json.file_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        240
      ],
      "id": "b9de0615-9d14-4c3a-82e1-87a8b6fae13f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.file_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "4550f1a5-5637-48ca-8574-40758cc7a8e5",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "text": "Ты — AI-модуль анализа изображений для техподдержки.\n\nТвоя задача — подробно и точно описать, что изображено на фото или скриншоте, без диагностики и советов.\n\nПравила:\n\n* Не предлагай решения.\n* Не определяй причину проблемы.\n* Не делай выводов, которых нет на изображении.\n* Описывай только то, что реально видно.\n\nЧто нужно определить:\n\n* тип изображения (фото, скриншот, интерфейс, устройство и т.д.)\n* видимые устройства, объекты и их состояние\n* текст, ошибки, коды, уведомления\n* кнопки, индикаторы, кабели, порты\n* интерфейс программы или системы\n* бренды, модели, маркировки (если видны)\n\nЕсли есть текст — перепиши его максимально точно.\n\nЕсли качество плохое — сообщи, что часть деталей трудно распознать.\n\nФормат ответа:\n\nТип изображения:\n...\n\nОписание:\n...\n\nТекст на изображении:\n...\n\nДополнительные детали:\n...\n",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        208,
        240
      ],
      "id": "3b4c066f-0b58-4d3d-93a5-2f3b3c6be3ef",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "0tL4zzqsCd2g3p0a",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        176,
        0
      ],
      "id": "3c3cf9cd-d7e4-4560-8c87-ae970244044d",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "0tL4zzqsCd2g3p0a",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5972333-e938-4529-8576-cfa68ae6fd88",
              "name": "analyzed_file_type",
              "value": "={{ $('AI').item.json.file_type }}",
              "type": "string"
            },
            {
              "id": "18ec7e32-a8ae-4200-b28b-85b52b5407b5",
              "name": "analyzed",
              "value": "=TRANSCRIBED AUDIO TEXT: {{ $json.text }}\nCAPTION: {{ $('AI').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        0
      ],
      "id": "3c25a250-0609-42e8-bca9-f75f03972b2e",
      "name": "Тип аудио"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5972333-e938-4529-8576-cfa68ae6fd88",
              "name": "analyzed_file_type",
              "value": "={{ $('AI').item.json.file_type }}",
              "type": "string"
            },
            {
              "id": "18ec7e32-a8ae-4200-b28b-85b52b5407b5",
              "name": "analyzed",
              "value": "=ANALISED IMAGE TEXT: {{ $json['0'].content[0].text }}\nCAPTION: {{ $('AI').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        240
      ],
      "id": "894751ac-44b4-4a40-b0f6-8519c8c17573",
      "name": "Тип фото"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18ec7e32-a8ae-4200-b28b-85b52b5407b5",
              "name": "analyzed",
              "value": "={{ $('AI').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        128
      ],
      "id": "8d1b766e-2f62-4b82-8553-697b7df32dbf",
      "name": "Тип текст"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35af2a3d-ad38-428b-a8b5-0b48fe425087",
              "name": "prompt",
              "value": "={{ $json.analyzed }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        128
      ],
      "id": "19e74c91-a30a-47f1-a3bf-3a2dce1559e7",
      "name": "Приведение к 1 формату"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "R6pbq4pNZJOWH3LX",
          "mode": "list",
          "cachedResultUrl": "/workflow/R6pbq4pNZJOWH3LX",
          "cachedResultName": "Main Output"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ ($('AI Agent').item.json.output.answer || '').replace('[HANDOFF]', '').trim() }}",
            "chat_id": "={{ $('AI').item.json.chat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "file_type",
              "displayName": "file_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2048,
        0
      ],
      "id": "6fe78889-3c12-4001-bc3e-c7196e8dc67b",
      "name": "Call 'Main Output'"
    },
    {
      "parameters": {
        "queue": "vpn_bot.incoming",
        "sendInputData": false,
        "message": "={{ JSON.stringify({\n  \"type\": \"ai_response\",\n  \"dialog_id\": $('AI').item.json.dialog_id,\n  \"chat_id\": $('AI').item.json.chat_id,\n  \"message\": ($json.output.answer || '').replace('[HANDOFF]', '').trim(),\n  \"handoff\": $json.output.handoff === true,\n  \"handoff_reason\": $json.output.reason || '',\n  \"ai_enabled\": $('AI').item.json.ai_enabled\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1824,
        16
      ],
      "id": "b1748062-16de-4e45-9533-55c38677da9f",
      "name": "RabbitMQ1",
      "credentials": {
        "rabbitmq": {
          "id": "j2NDgekuNqvR5Z6Q",
          "name": "RabbitMQ account"
        }
      }
    }
  ],
  "connections": {
    "AI": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "RabbitMQ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Тип текст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Тип фото",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Тип аудио",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тип аудио": {
      "main": [
        [
          {
            "node": "Приведение к 1 формату",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тип фото": {
      "main": [
        [
          {
            "node": "Приведение к 1 формату",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тип текст": {
      "main": [
        [
          {
            "node": "Приведение к 1 формату",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Приведение к 1 формату": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ1": {
      "main": [
        [
          {
            "node": "Call 'Main Output'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
