n8n_ai_agent.json
{
  "name": "AI (handoff)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message"
            },
            {
              "name": "dialog_id"
            },
            {
              "name": "chat_id"
            },
            {
              "name": "ai_enabled",
              "type": "boolean"
            },
            {
              "name": "file_url"
            },
            {
              "name": "file_type"
            }
          ]
        }
      },
      "id": "bf14073e-7c25-4bc8-8322-b36de6d048e2",
      "typeVersion": 1.1,
      "name": "AI",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -2432,
        1776
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Приведение к 1 формату').first().json.prompt }}",
        "options": {
          "systemMessage": "={{ $('Code in JavaScript').first().json.ai_prompt }}\n\nИстория диалога (для контекста, не источник фактов):\n{{ $('Форматировать историю1').first().json.historyText }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        608,
        1968
      ],
      "id": "38ac3ed8-e040-4b2a-86a2-20ede94896ea",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "={{ $('Code in JavaScript').first().json.ai_model }}",
          "mode": "id"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": "={{ $('Code in JavaScript').first().json.ai_temperature }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        480,
        2192
      ],
      "id": "762e6d02-0c72-44e6-a86a-403165fcb068",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0tL4zzqsCd2g3p0a",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Поиск по базе знаний поддержки GruVPN: инструкции подключения, диагностика проблем, белые списки, оплата и продление, FAQ. Вызывай перед каждым ответом на вопрос пользователя. Query: проблема формулировкой пользователя, на русском (например: «YouTube не работает на iPhone»).",
        "qdrantCollection": {
          "__rl": true,
          "value": "kb",
          "mode": "list",
          "cachedResultName": "kb"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        864,
        2192
      ],
      "id": "a97dadae-f594-491a-8c38-3ea670714b64",
      "name": "Qdrant Vector Store2",
      "rewireOutputLogTo": "ai_tool",
      "credentials": {
        "qdrantApi": {
          "id": "Q4QxrSlzWGuaPIrG",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        944,
        2400
      ],
      "id": "4327dfa1-19d7-4ec3-a745-f6e470d69fcc",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "0tL4zzqsCd2g3p0a",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "ai_settings",
        "key": "vpn_bot:ai_settings",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -544,
        1776
      ],
      "id": "4db6159d-34ec-4262-a577-79ebc20240e5",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "hit3nIMoTAWeW4Gi",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.ai_settings;\n\nconst settings = raw ? JSON.parse(raw) : {};\n\nreturn [{\n  json: {\n    ...$json,\n    ai_enabled: settings.enabled ?? false,\n    ai_model: settings.model ?? 'gpt-4o-mini',\n    ai_temperature: settings.temperature ?? 0.7,\n    ai_prompt: settings.prompt ?? '',\n    ai_handoff_prompt: settings.handoff_prompt ?? ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        1776
      ],
      "id": "4c4c0da8-c33a-44bf-9b4e-ff229fd1b509",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ae43ad55-7e39-4424-a0f7-949a9535abc5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f49b5c16-85ab-4179-b129-d4ca33aabcab",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e926d6f8-b10b-4675-94fe-c3a2f2be67d7",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2112,
        1760
      ],
      "id": "5786b79f-ba0d-47ec-9130-b0d69f30c6c3",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $json.file_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1888,
        1968
      ],
      "id": "7e8f9006-9624-4c8d-b8b1-783ebf77098f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.file_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1888,
        1584
      ],
      "id": "689c7825-ca6b-4b5a-89f5-352049718929",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "text": "Ты — AI-модуль анализа изображений для техподдержки.\n\nТвоя задача — подробно и точно описать, что изображено на фото или скриншоте, без диагностики и советов.\n\nПравила:\n\n* Не предлагай решения.\n* Не определяй причину проблемы.\n* Не делай выводов, которых нет на изображении.\n* Описывай только то, что реально видно.\n\nЧто нужно определить:\n\n* тип изображения (фото, скриншот, интерфейс, устройство и т.д.)\n* видимые устройства, объекты и их состояние\n* текст, ошибки, коды, уведомления\n* кнопки, индикаторы, кабели, порты\n* интерфейс программы или системы\n* бренды, модели, маркировки (если видны)\n\nЕсли есть текст — перепиши его максимально точно.\n\nЕсли качество плохое — сообщи, что часть деталей трудно распознать.\n\nФормат ответа:\n\nТип изображения:\n...\n\nОписание:\n...\n\nТекст на изображении:\n...\n\nДополнительные детали:\n...\n",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -1664,
        1968
      ],
      "id": "f36a5cff-41ce-4abe-848e-d191312b37ce",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "0tL4zzqsCd2g3p0a",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -1664,
        1584
      ],
      "id": "1c2a4f79-9bc2-49ee-8cf6-d3391cd86568",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "0tL4zzqsCd2g3p0a",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5972333-e938-4529-8576-cfa68ae6fd88",
              "name": "analyzed_file_type",
              "value": "={{ $('AI').item.json.file_type }}",
              "type": "string"
            },
            {
              "id": "18ec7e32-a8ae-4200-b28b-85b52b5407b5",
              "name": "analyzed",
              "value": "=TRANSCRIBED AUDIO TEXT: {{ $json.text }}\nCAPTION: {{ $('AI').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        1584
      ],
      "id": "fa30cddf-555c-4616-8515-21477c20f73b",
      "name": "Тип аудио"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5972333-e938-4529-8576-cfa68ae6fd88",
              "name": "analyzed_file_type",
              "value": "={{ $('AI').item.json.file_type }}",
              "type": "string"
            },
            {
              "id": "18ec7e32-a8ae-4200-b28b-85b52b5407b5",
              "name": "analyzed",
              "value": "=ANALISED IMAGE TEXT: {{ $json['0'].content[0].text }}\nCAPTION: {{ $('AI').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        1968
      ],
      "id": "aac0e03c-a65c-410e-9cf1-892fb6f4a8c6",
      "name": "Тип фото"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18ec7e32-a8ae-4200-b28b-85b52b5407b5",
              "name": "analyzed",
              "value": "={{ $('AI').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        1776
      ],
      "id": "47aa7cd9-f844-4d34-98f7-cf9dfb2fcc03",
      "name": "Тип текст"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35af2a3d-ad38-428b-a8b5-0b48fe425087",
              "name": "prompt",
              "value": "={{ $json.analyzed }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1216,
        1776
      ],
      "id": "ce59290f-4b9d-4e99-aae5-5d290aa704e3",
      "name": "Приведение к 1 формату"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Приведение к 1 формату').first().json.prompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Code in JavaScript').first().json.ai_handoff_prompt }}\n\nСчётчик наборов шагов, уже выданных ботом по текущей проблеме: {{ $('Форматировать историю1').first().json.stepListCount }}\n\nИСТОРИЯ ДИАЛОГА:\n{{ $('Форматировать историю1').first().json.historyText }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -96,
        1776
      ],
      "id": "7f48016c-5de1-40e4-85af-acd61d3f63ea",
      "name": "Гейт"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -80,
        2000
      ],
      "id": "f982f0c9-62ee-482d-ad6c-548089b33ed4",
      "name": "Gate Model",
      "credentials": {
        "openAiApi": {
          "id": "0tL4zzqsCd2g3p0a",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9b8c7d6-0001-4000-9000-000000000001",
              "name": "output",
              "value": "[HANDOFF] Передаю ваше обращение оператору для ручной проверки. Пожалуйста, ожидайте ответа в этом чате.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        1568
      ],
      "id": "00928e69-b6a6-4552-a443-070d2e3c0f49",
      "name": "Ответ хендофф"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1232,
        1776
      ],
      "id": "18d5bcb5-a61d-4095-a922-79391d564ce7",
      "name": "Собрать ответ"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "R6pbq4pNZJOWH3LX",
          "mode": "list",
          "cachedResultUrl": "/workflow/R6pbq4pNZJOWH3LX",
          "cachedResultName": "Main Output"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ ($('Собрать ответ').first().json.output || '').replace('[HANDOFF]', '').trim() }}",
            "chat_id": "={{ $('AI').first().json.chat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "file_type",
              "displayName": "file_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1680,
        1680
      ],
      "id": "19f44a27-163e-4c66-b362-b565833217b4",
      "name": "Call 'Main Output'"
    },
    {
      "parameters": {
        "queue": "vpn_bot.incoming",
        "sendInputData": false,
        "message": "={{ JSON.stringify({\n  \"type\": \"ai_response\",\n  \"dialog_id\": $('AI').first().json.dialog_id,\n  \"chat_id\": $('AI').first().json.chat_id,\n  \"message\": $('Собрать ответ').first().json.output,\n  \"ai_enabled\": $('AI').first().json.ai_enabled\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1456,
        1680
      ],
      "id": "901b4693-bb3b-4304-94da-d7d8eb56fd56",
      "name": "RabbitMQ1",
      "credentials": {
        "rabbitmq": {
          "id": "j2NDgekuNqvR5Z6Q",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "history",
        "key": "=chat_history:{{ $('AI').item.json.dialog_id }}",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -992,
        1776
      ],
      "id": "c99aa9e1-21af-44ca-8fa6-637a1240053a",
      "name": "Redis: История1",
      "credentials": {
        "redis": {
          "id": "hit3nIMoTAWeW4Gi",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=chat_history:{{ $('AI').first().json.dialog_id }}",
        "messageData": "={{ JSON.stringify({ role: \"user\", content: $('Приведение к 1 формату').first().json.prompt }) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1456,
        1872
      ],
      "id": "fb43fc8b-d03b-47be-b6ae-4326b9bc9bf8",
      "name": "Redis: Сохранить сообщение пользователя1",
      "credentials": {
        "redis": {
          "id": "hit3nIMoTAWeW4Gi",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=chat_history:{{ $('AI').first().json.dialog_id }}",
        "messageData": "={{ JSON.stringify({ role: \"assistant\", content: ($('Собрать ответ').first().json.output || '').replace('[HANDOFF]', '').trim() }) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1680,
        1872
      ],
      "id": "4fbcf59d-ba55-44ef-8e22-f1869e1071bc",
      "name": "Redis: Сохранить ответ ассистента1",
      "credentials": {
        "redis": {
          "id": "hit3nIMoTAWeW4Gi",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d1e2f3a4-0001-4000-9000-000000000001",
              "leftValue": "={{ $('Форматировать историю1').first().json.stepListCount }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "d1e2f3a4-0002-4000-9000-000000000002",
              "leftValue": "={{ $json.text }}",
              "rightValue": "HANDOFF",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        1744
      ],
      "id": "3d5ca1b8-2398-402c-809d-e6575243da54",
      "name": "Маршрут гейта2"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.history || [];\nconst list = Array.isArray(raw) ? raw : [raw];\nconst parsed = list.map((e) => {\n  try { return typeof e === \"string\" ? JSON.parse(e) : e; }\n  catch (err) { return { role: \"user\", content: String(e) }; }\n});\nconst recent = parsed.slice(-10);\n// Убираем фигурные скобки: историю подставляем в шаблон промпта гейта,\n// где { } трактуются как переменные шаблона и могут сломать разбор.\nconst clean = (s) => String(s || \"\").replace(/[{}]/g, \"\");\nconst lines = recent.map((o) => (o.role === \"assistant\" ? \"Ассистент: \" : \"Пользователь: \") + clean(o.content));\n// «Набор шагов» = ответ ассистента с двумя и более нумерованными строками,\n// исключая вступительную анкету (она содержит вопрос про приложение).\nconst isStepList = (o) =>\n  o.role === \"assistant\" &&\n  ((o.content || \"\").match(/(^|\\n)\\s*\\d+[.)]/g) || []).length >= 2 &&\n  !(o.content || \"\").includes(\"Через какое приложение\");\nconst stepListCount = parsed.filter(isStepList).length;\nreturn [{ json: { ...$json, historyText: lines.join(\"\\n\"), stepListCount } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        1776
      ],
      "id": "5dc5657a-69db-407b-a7df-5f45cc8de057",
      "name": "Форматировать историю1"
    }
  ],
  "connections": {
    "AI": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Собрать ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Гейт",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Тип текст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Тип фото",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Тип аудио",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тип аудио": {
      "main": [
        [
          {
            "node": "Приведение к 1 формату",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тип фото": {
      "main": [
        [
          {
            "node": "Приведение к 1 формату",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тип текст": {
      "main": [
        [
          {
            "node": "Приведение к 1 формату",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Приведение к 1 формату": {
      "main": [
        [
          {
            "node": "Redis: История1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Гейт": {
      "main": [
        [
          {
            "node": "Маршрут гейта2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Model": {
      "ai_languageModel": [
        [
          {
            "node": "Гейт",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ответ хендофф": {
      "main": [
        [
          {
            "node": "Собрать ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Собрать ответ": {
      "main": [
        [
          {
            "node": "RabbitMQ1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Redis: Сохранить сообщение пользователя1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ1": {
      "main": [
        [
          {
            "node": "Call 'Main Output'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: История1": {
      "main": [
        [
          {
            "node": "Форматировать историю1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Сохранить сообщение пользователя1": {
      "main": [
        [
          {
            "node": "Redis: Сохранить ответ ассистента1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Маршрут гейта2": {
      "main": [
        [
          {
            "node": "Ответ хендофф",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Форматировать историю1": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "9dffad8a498b707a550807b62d36e78c238fa5edde5be37f9c3b19f4c0784011"
  }
}